In [8]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [4]:
# Load data as Pandas dataframe
df = pd.read_json('/Users/xiangzhen/Downloads/data_wrangling_json/data/world_bank_projects.json')

In [5]:
# Look into the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

In [6]:
#Q1: Find the 10 countries with most projects
df.groupby('countryname').size().sort_values(ascending=False)[:10]

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [12]:
#Q2: Find the top 10 major project themes (using column 'mjtheme_namecode')
#Extract and normalize project names and code.
dataset = json.load((open('/Users/xiangzhen/Downloads/data_wrangling_json/data/world_bank_projects.json')))
df2 = json_normalize(dataset, 'mjtheme_namecode')
df2.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [13]:
#Find the top 10 themes without missing value
df2.name[df2.name != ""].value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

In [15]:
#Q3:Create a dataframe with the missing names filled in.
#Get all the projects' name and code
projects = df2[['code', 'name']].drop_duplicates().query("name != ''")
projects.head(10)

   code                                          name
0     8                             Human development
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
8     7                   Social dev/gender/inclusion
11    4      Financial and private sector development
18   10                             Rural development
53    9                             Urban development

In [19]:
#Merge df2 and df3 on 'code' to replace the missing value
df3 = df2.merge(projects, on='code')
df3 = df3[['code', 'name_y']]
df3.columns = ['code', 'name']
df3.head(10)

  code               name
0    8  Human development
1    8  Human development
2    8  Human development
3    8  Human development
4    8  Human development
5    8  Human development
6    8  Human development
7    8  Human development
8    8  Human development
9    8  Human development

In [20]:
#Find the top 10 themes with integrated data
df3.groupby('name').size().sort_values(ascending=False)[:10]

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
dtype: int64